.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
    list-style: none;
    max-height: 3rem;
    margin-bottom: 2rem;
}
.listItem {
    display: flex;
}

.sectionMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.text {
    font-style: italic;
}