.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* füllt die volle Höhe des Viewports */
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* wächst und schiebt Footer nach unten */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}