.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%; /* füllt die volle Höhe des Viewports */
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: flex-start;
  flex: 1; /* wächst und schiebt Footer nach unten */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  flex-wrap: wrap;
}