.navbar {
  background-color: #1e40af;
  color: white;
  padding: 0.75rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.navItem {
  cursor: pointer;
}

.navItem:hover {
  color: #facc15;
}